vendor
node_modules
.env
.env.*
!.env.example
database/database.sqlite
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.git
.github
.phpunit.cache
.phpunit.result.cache
